In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

# **Unitialising The URL**

In [4]:
import pandas as pd

In [1]:
url="https://www.news18.com/ipl-auction/"

In [5]:
initial=pd.read_html(url)

In [6]:
type(initial)

list

# 1.Creating Dataframe of Gujarat Titans

In [8]:
initial[1]

,2024 Squad GT,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2023 Squad
0,Spencer Johnson,5000000,BOWLER,10.0,1200,NaN
1,Shahrukh Khan,4000000,ALL-ROUNDER,7.4,888,PBKS
2,Umesh Yadav,20000000,BOWLER,5.8,696,KKR
3,Robin Minz,2000000,WICKETKEEPER,3.6,432,NaN
4,Sushant Mishra,2000000,BOWLER,2.2,264,NaN
5,Kartik Tyagi,2000000,BOWLER,0.6,72,SRH
6,Azmatullah Omarzai,5000000,ALL-ROUNDER,0.5,60,NaN
7,Manav Suthar,2000000,BOWLER,0.2,24,NaN
8,David Miller,Retained,NaN,0.0,0,NaN
9,Shubman Gill,Retained,NaN,0.0,0,NaN
10,Matthew Wade,Retained,NaN,0.0,0,NaN
11,Wriddhiman Saha,Retained,NaN,0.0,0,NaN
12,Kane Williamson,Retained,NaN,0.0,0,NaN
13,Abhinav Manohar,Retained,NaN,0.0,0,NaN
14,B. Sai Sudharsan,Retained,NaN,0.0,0,NaN
15,Darshan Nalkande,Retained,NaN,0.0,0,NaN
16,Vijay Shankar,Retained,NaN,0.0,0,NaN
17,Jayant Yadav,Retained,NaN,0.0,0,NaN
18,Rahul Tewatia,Retained,NaN,0.0,0,NaN
19,Mohammed Shami,Retained,NaN,0.0,0,NaN
20,Noor Ahmad,Retained,NaN,0.0,0,NaN
21,R. Sai Kishore,Retained,NaN,0.0,0,NaN
22,Rashid Khan,Retained,NaN,0.0,0,NaN
23,Joshua Little,Retained,NaN,0.0,0,NaN
24,Mohit Sharma,Retained,NaN,0.0,0,NaN

In [10]:
gujarat_titans=initial[1]

In [11]:
gujarat_titans["Team"]="Gujarat Titans"

In [34]:
gujarat_titans.rename(columns={"2024 Squad GT":"Player"},inplace=True)

In [35]:
gujarat_titans

,Player,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2023 Squad,Team
0,Spencer Johnson,5000000,BOWLER,10.0,1200,NaN,Gujarat Titans
1,Shahrukh Khan,4000000,ALL-ROUNDER,7.4,888,PBKS,Gujarat Titans
2,Umesh Yadav,20000000,BOWLER,5.8,696,KKR,Gujarat Titans
3,Robin Minz,2000000,WICKETKEEPER,3.6,432,NaN,Gujarat Titans
4,Sushant Mishra,2000000,BOWLER,2.2,264,NaN,Gujarat Titans
5,Kartik Tyagi,2000000,BOWLER,0.6,72,SRH,Gujarat Titans
6,Azmatullah Omarzai,5000000,ALL-ROUNDER,0.5,60,NaN,Gujarat Titans
7,Manav Suthar,2000000,BOWLER,0.2,24,NaN,Gujarat Titans
8,David Miller,Retained,NaN,0.0,0,NaN,Gujarat Titans
9,Shubman Gill,Retained,NaN,0.0,0,NaN,Gujarat Titans
10,Matthew Wade,Retained,NaN,0.0,0,NaN,Gujarat Titans
11,Wriddhiman Saha,Retained,NaN,0.0,0,NaN,Gujarat Titans
12,Kane Williamson,Retained,NaN,0.0,0,NaN,Gujarat Titans
13,Abhinav Manohar,Retained,NaN,0.0,0,NaN,Gujarat Titans
14,B. Sai Sudharsan,Retained,NaN,0.0,0,NaN,Gujarat Titans
15,Darshan Nalkande,Retained,NaN,0.0,0,NaN,Gujarat Titans
16,Vijay Shankar,Retained,NaN,0.0,0,NaN,Gujarat Titans
17,Jayant Yadav,Retained,NaN,0.0,0,NaN,Gujarat Titans
18,Rahul Tewatia,Retained,NaN,0.0,0,NaN,Gujarat Titans
19,Mohammed Shami,Retained,NaN,0.0,0,NaN,Gujarat Titans
20,Noor Ahmad,Retained,NaN,0.0,0,NaN,Gujarat Titans
21,R. Sai Kishore,Retained,NaN,0.0,0,NaN,Gujarat Titans
22,Rashid Khan,Retained,NaN,0.0,0,NaN,Gujarat Titans
23,Joshua Little,Retained,NaN,0.0,0,NaN,Gujarat Titans
24,Mohit Sharma,Retained,NaN,0.0,0,NaN,Gujarat Titans

# 2.Creating Dataframe of Chennai Super Kings

In [13]:
initial[2]

,2024 Squad CSK,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2023 Squad
0,Daryl Mitchell,10000000,ALL-ROUNDER,14.0,1680,NaN
1,Sameer Rizvi,2000000,BATTER,8.4,1008,NaN
2,Shardul Thakur,20000000,ALL-ROUNDER,4.0,480,KKR
3,Mustafizur Rahman,20000000,BOWLER,2.0,240,DC
4,Rachin Ravindra,5000000,ALL-ROUNDER,1.8,216,NaN
5,Avanish Rao Aravelly,2000000,WICKETKEEPER,0.2,24,NaN
6,MS Dhoni,Retained,NaN,0.0,0,NaN
7,Moeen Ali,Retained,NaN,0.0,0,NaN
8,Deepak Chahar,Retained,NaN,0.0,0,NaN
9,Devon Conway,Retained,NaN,0.0,0,NaN
10,Tushar Deshpande,Retained,NaN,0.0,0,NaN
11,Shivam Dube,Retained,NaN,0.0,0,NaN
12,Ruturaj Gaikwad,Retained,NaN,0.0,0,NaN
13,Rajvardhan Hangargekar,Retained,NaN,0.0,0,NaN
14,Ravindra Jadeja,Retained,NaN,0.0,0,NaN
15,Ajay Mandal,Retained,NaN,0.0,0,NaN
16,Mukesh Choudhary,Retained,NaN,0.0,0,NaN
17,Matheesha Pathirana,Retained,NaN,0.0,0,NaN
18,Ajinkya Rahane,Retained,NaN,0.0,0,NaN
19,Shaik Rasheed,Retained,NaN,0.0,0,NaN
20,Mitchell Santner,Retained,NaN,0.0,0,NaN
21,Simarjeet Singh,Retained,NaN,0.0,0,NaN
22,Nishant Sindhu,Retained,NaN,0.0,0,NaN
23,Prashant Solanki,Retained,NaN,0.0,0,NaN
24,Maheesh Theekshana,Retained,NaN,0.0,0,NaN

In [36]:
csk=initial[2]
csk["Team"]="Chennai Super Kings"
csk.rename(columns={"2024 Squad CSK":"Player"},inplace=True)
#Appending into first Dataframe
final=gujarat_titans._append(csk,ignore_index=True)
final

,Player,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2023 Squad,Team
0,Spencer Johnson,5000000,BOWLER,10.0,1200,NaN,Gujarat Titans
1,Shahrukh Khan,4000000,ALL-ROUNDER,7.4,888,PBKS,Gujarat Titans
2,Umesh Yadav,20000000,BOWLER,5.8,696,KKR,Gujarat Titans
3,Robin Minz,2000000,WICKETKEEPER,3.6,432,NaN,Gujarat Titans
4,Sushant Mishra,2000000,BOWLER,2.2,264,NaN,Gujarat Titans
5,Kartik Tyagi,2000000,BOWLER,0.6,72,SRH,Gujarat Titans
6,Azmatullah Omarzai,5000000,ALL-ROUNDER,0.5,60,NaN,Gujarat Titans
7,Manav Suthar,2000000,BOWLER,0.2,24,NaN,Gujarat Titans
8,David Miller,Retained,NaN,0.0,0,NaN,Gujarat Titans
9,Shubman Gill,Retained,NaN,0.0,0,NaN,Gujarat Titans
10,Matthew Wade,Retained,NaN,0.0,0,NaN,Gujarat Titans
11,Wriddhiman Saha,Retained,NaN,0.0,0,NaN,Gujarat Titans
12,Kane Williamson,Retained,NaN,0.0,0,NaN,Gujarat Titans
13,Abhinav Manohar,Retained,NaN,0.0,0,NaN,Gujarat Titans
14,B. Sai Sudharsan,Retained,NaN,0.0,0,NaN,Gujarat Titans
15,Darshan Nalkande,Retained,NaN,0.0,0,NaN,Gujarat Titans
16,Vijay Shankar,Retained,NaN,0.0,0,NaN,Gujarat Titans
17,Jayant Yadav,Retained,NaN,0.0,0,NaN,Gujarat Titans
18,Rahul Tewatia,Retained,NaN,0.0,0,NaN,Gujarat Titans
19,Mohammed Shami,Retained,NaN,0.0,0,NaN,Gujarat Titans
20,Noor Ahmad,Retained,NaN,0.0,0,NaN,Gujarat Titans
21,R. Sai Kishore,Retained,NaN,0.0,0,NaN,Gujarat Titans
22,Rashid Khan,Retained,NaN,0.0,0,NaN,Gujarat Titans
23,Joshua Little,Retained,NaN,0.0,0,NaN,Gujarat Titans
24,Mohit Sharma,Retained,NaN,0.0,0,NaN,Gujarat Titans
25,Daryl Mitchell,10000000,ALL-ROUNDER,14.0,1680,NaN,Chennai Super Kings
26,Sameer Rizvi,2000000,BATTER,8.4,1008,NaN,Chennai Super Kings
27,Shardul Thakur,20000000,ALL-ROUNDER,4.0,480,KKR,Chennai Super Kings
28,Mustafizur Rahman,20000000,BOWLER,2.0,240,DC,Chennai Super Kings
29,Rachin Ravindra,5000000,ALL-ROUNDER,1.8,216,NaN,Chennai Super Kings
30,Avanish Rao Aravelly,2000000,WICKETKEEPER,0.2,24,NaN,Chennai Super Kings
31,MS Dhoni,Retained,NaN,0.0,0,NaN,Chennai Super Kings
32,Moeen Ali,Retained,NaN,0.0,0,NaN,Chennai Super Kings
33,Deepak Chahar,Retained,NaN,0.0,0,NaN,Chennai Super Kings
34,Devon Conway,Retained,NaN,0.0,0,NaN,Chennai Super Kings
35,Tushar Deshpande,Retained,NaN,0.0,0,NaN,Chennai Super Kings
36,Shivam Dube,Retained,NaN,0.0,0,NaN,Chennai Super Kings
37,Ruturaj Gaikwad,Retained,NaN,0.0,0,NaN,Chennai Super Kings
38,Rajvardhan Hangargekar,Retained,NaN,0.0,0,NaN,Chennai Super Kings
39,Ravindra Jadeja,Retained,NaN,0.0,0,NaN,Chennai Super Kings
40,Ajay Mandal,Retained,NaN,0.0,0,NaN,Chennai Super Kings
41,Mukesh Choudhary,Retained,NaN,0.0,0,NaN,Chennai Super Kings
42,Matheesha Pathirana,Retained,NaN,0.0,0,NaN,Chennai Super Kings
43,Ajinkya Rahane,Retained,NaN,0.0,0,NaN,Chennai Super Kings
44,Shaik Rasheed,Retained,NaN,0.0,0,NaN,Chennai Super Kings
45,Mitchell Santner,Retained,NaN,0.0,0,NaN,Chennai Super Kings
46,Simarjeet Singh,Retained,NaN,0.0,0,NaN,Chennai Super Kings
47,Nishant Sindhu,Retained,NaN,0.0,0,NaN,Chennai Super Kings
48,Prashant Solanki,Retained,NaN,0.0,0,NaN,Chennai Super Kings
49,Maheesh Theekshana,Retained,NaN,0.0,0,NaN,Chennai Super Kings

# 3.Creating Dataframe of Delhi Capital

In [15]:
initial[3]

,2024 Squad DC,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2023 Squad
0,Kumar Kushagra,2000000,WICKETKEEPER,7.20,864,NaN
1,Jhye Richardson,15000000,BOWLER,5.00,600,NaN
2,Harry Brook,20000000,BATTER,4.00,480,SRH
3,Sumit Kumar,2000000,ALL-ROUNDER,1.00,120,NaN
4,Shai Hope,7500000,WICKETKEEPER,0.75,90,NaN
5,Tristan Stubbs,5000000,WICKETKEEPER,0.50,60,MI
6,Ricky Bhui,2000000,WICKETKEEPER,0.20,24,NaN
7,Rasikh Dar,2000000,BOWLER,0.20,24,NaN
8,Swastik Chhikara,2000000,BATTER,0.20,24,NaN
9,Rishabh Pant,Retained,NaN,0.00,0,NaN
10,Pravin Dubey,Retained,NaN,0.00,0,NaN
11,David Warner,Retained,NaN,0.00,0,NaN
12,Vicky Ostwal,Retained,NaN,0.00,0,NaN
13,Prithvi Shaw,Retained,NaN,0.00,0,NaN
14,Anrich Nortje,Retained,NaN,0.00,0,NaN
15,Abishek Porel,Retained,NaN,0.00,0,NaN
16,Kuldeep Yadav,Retained,NaN,0.00,0,NaN
17,Axar Patel,Retained,NaN,0.00,0,NaN
18,Lungi Ngidi,Retained,NaN,0.00,0,NaN
19,Lalit Yadav,Retained,NaN,0.00,0,NaN
20,Khaleel Ahmed,Retained,NaN,0.00,0,NaN
21,Mitchell Marsh,Retained,NaN,0.00,0,NaN
22,Ishant Sharma,Retained,NaN,0.00,0,NaN
23,Yash Dhull,Retained,NaN,0.00,0,NaN
24,Mukesh Kumar,Retained,NaN,0.00,0,NaN

In [37]:
DC=initial[3]
DC["Team"]="Delhi Capital"
DC.rename(columns={"2024 Squad DC":"Player"},inplace=True)
#Appending into previous Dataframe
final=final._append(DC,ignore_index=True)
final

,Player,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2023 Squad,Team
0,Spencer Johnson,5000000,BOWLER,10.0,1200,NaN,Gujarat Titans
1,Shahrukh Khan,4000000,ALL-ROUNDER,7.4,888,PBKS,Gujarat Titans
2,Umesh Yadav,20000000,BOWLER,5.8,696,KKR,Gujarat Titans
3,Robin Minz,2000000,WICKETKEEPER,3.6,432,NaN,Gujarat Titans
4,Sushant Mishra,2000000,BOWLER,2.2,264,NaN,Gujarat Titans
...,...,...,...,...,...,...,...
70,Khaleel Ahmed,Retained,NaN,0.0,0,NaN,Delhi Capital
71,Mitchell Marsh,Retained,NaN,0.0,0,NaN,Delhi Capital
72,Ishant Sharma,Retained,NaN,0.0,0,NaN,Delhi Capital
73,Yash Dhull,Retained,NaN,0.0,0,NaN,Delhi Capital
74,Mukesh Kumar,Retained,NaN,0.0,0,NaN,Delhi Capital

# 4.Creating Dataframe of Kolkata Knight Riders

In [18]:
initial[4]

,2024 Squad KKR,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2023 Squad
0,Mitchell Starc,20000000,BOWLER,24.75,2970,NaN
1,Mujeeb Rahman,20000000,BOWLER,2.00,240,NaN
2,Sherfane Rutherford,15000000,BATTER,1.50,180,NaN
3,Gus Atkinson,10000000,BOWLER,1.00,120,NaN
4,Manish Pandey,5000000,BATTER,0.50,60,DC
5,K.S. Bharat,5000000,WICKETKEEPER,0.50,60,GT
6,Chetan Sakariya,5000000,BOWLER,0.50,60,DC
7,Angkrish Raghuvanshi,2000000,BATTER,0.20,24,NaN
8,Ramandeep Singh,2000000,ALL-ROUNDER,0.20,24,MI
9,Sakib Hussain,2000000,BOWLER,0.20,24,NaN
10,Nitish Rana,Retained,NaN,0.00,0,NaN
11,Rinku Singh,Retained,NaN,0.00,0,NaN
12,Rahmanullah Gurbaz,Retained,NaN,0.00,0,NaN
13,Shreyas Iyer,Retained,NaN,0.00,0,NaN
14,Jason Roy,Retained,NaN,0.00,0,NaN
15,Sunil Narine,Retained,NaN,0.00,0,NaN
16,Suyash Sharma,Retained,NaN,0.00,0,NaN
17,Anukul Roy,Retained,NaN,0.00,0,NaN
18,Andre Russell,Retained,NaN,0.00,0,NaN
19,Venkatesh Iyer,Retained,NaN,0.00,0,NaN
20,Harshit Rana,Retained,NaN,0.00,0,NaN
21,Vaibhav Arora,Retained,NaN,0.00,0,NaN
22,Varun Chakaravarthy,Retained,NaN,0.00,0,NaN

In [38]:
KKR=initial[4]
KKR["Team"]="Kolkata Knight Riders"
KKR.rename(columns={"2024 Squad KKR":"Player"},inplace=True)
#Appending into previous Dataframe
final=final._append(KKR,ignore_index=True)
final

,Player,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2023 Squad,Team
0,Spencer Johnson,5000000,BOWLER,10.0,1200,NaN,Gujarat Titans
1,Shahrukh Khan,4000000,ALL-ROUNDER,7.4,888,PBKS,Gujarat Titans
2,Umesh Yadav,20000000,BOWLER,5.8,696,KKR,Gujarat Titans
3,Robin Minz,2000000,WICKETKEEPER,3.6,432,NaN,Gujarat Titans
4,Sushant Mishra,2000000,BOWLER,2.2,264,NaN,Gujarat Titans
...,...,...,...,...,...,...,...
93,Andre Russell,Retained,NaN,0.0,0,NaN,Kolkata Knight Riders
94,Venkatesh Iyer,Retained,NaN,0.0,0,NaN,Kolkata Knight Riders
95,Harshit Rana,Retained,NaN,0.0,0,NaN,Kolkata Knight Riders
96,Vaibhav Arora,Retained,NaN,0.0,0,NaN,Kolkata Knight Riders
97,Varun Chakaravarthy,Retained,NaN,0.0,0,NaN,Kolkata Knight Riders

# 5.Creating Dataframe of Punjab Kings

In [20]:
initial[5]

,2024 Squad PBKS,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2023 Squad
0,Harshal Patel,20000000,ALL-ROUNDER,11.75,1410,RCB
1,Rilee Rossouw,20000000,BATTER,8.00,960,DC
2,Chris Woakes,20000000,ALL-ROUNDER,4.20,504,NaN
3,Ashutosh Sharma,2000000,ALL-ROUNDER,0.20,24,NaN
4,Vishwanath Pratap Singh,2000000,ALL-ROUNDER,0.20,24,NaN
5,Shashank Singh,2000000,ALL-ROUNDER,0.20,24,NaN
6,Tanay Thyagarajann,2000000,ALL-ROUNDER,0.20,24,NaN
7,Prince Choudhary,2000000,BOWLER,0.20,24,NaN
8,Shikhar Dhawan,Retained,NaN,0.00,0,NaN
9,Liam Livingstone,Retained,NaN,0.00,0,NaN
10,Jonny Bairstow,Retained,NaN,0.00,0,NaN
11,Gurnoor Singh Brar,Retained,NaN,0.00,0,NaN
12,Jitesh Sharma,Retained,NaN,0.00,0,NaN
13,Shivam Singh,Retained,NaN,0.00,0,NaN
14,Rahul Chahar,Retained,NaN,0.00,0,NaN
15,Prabhsimran Singh,Retained,NaN,0.00,0,NaN
16,Matthew Short,Retained,NaN,0.00,0,NaN
17,Arshdeep Singh,Retained,NaN,0.00,0,NaN
18,Harpreet Bhatia,Retained,NaN,0.00,0,NaN
19,Harpreet Brar,Retained,NaN,0.00,0,NaN
20,Atharva Taide,Retained,NaN,0.00,0,NaN
21,Vidwath Kaverappa,Retained,NaN,0.00,0,NaN
22,Rishi Dhawan,Retained,NaN,0.00,0,NaN
23,Kagiso Rabada,Retained,NaN,0.00,0,NaN
24,Sam Curran,Retained,NaN,0.00,0,NaN
25,Nathan Ellis,Retained,NaN,0.00,0,NaN
26,Sikandar Raza,Retained,NaN,0.00,0,NaN

In [39]:
PBKS=initial[5]
PBKS["Team"]="Punjab Kings"
PBKS.rename(columns={"2024 Squad PBKS":"Player"},inplace=True)
#Appending into previous Dataframe
final=final._append(PBKS,ignore_index=True)
final

,Player,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2023 Squad,Team
0,Spencer Johnson,5000000,BOWLER,10.0,1200,NaN,Gujarat Titans
1,Shahrukh Khan,4000000,ALL-ROUNDER,7.4,888,PBKS,Gujarat Titans
2,Umesh Yadav,20000000,BOWLER,5.8,696,KKR,Gujarat Titans
3,Robin Minz,2000000,WICKETKEEPER,3.6,432,NaN,Gujarat Titans
4,Sushant Mishra,2000000,BOWLER,2.2,264,NaN,Gujarat Titans
...,...,...,...,...,...,...,...
120,Rishi Dhawan,Retained,NaN,0.0,0,NaN,Punjab Kings
121,Kagiso Rabada,Retained,NaN,0.0,0,NaN,Punjab Kings
122,Sam Curran,Retained,NaN,0.0,0,NaN,Punjab Kings
123,Nathan Ellis,Retained,NaN,0.0,0,NaN,Punjab Kings
124,Sikandar Raza,Retained,NaN,0.0,0,NaN,Punjab Kings

# 6.Creating Dataframe of Lucknow Super Giants

In [22]:
initial[6]

,2024 Squad LSG,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2023 Squad
0,Devdutt Padikkal,Traded,NaN,NaN,NaN,NaN
1,Shivam Mavi,5000000,BOWLER,6.4,768.0,GT
2,M. Siddharth,2000000,BOWLER,2.4,288.0,NaN
3,David Willey,20000000,ALL-ROUNDER,2.0,240.0,RCB
4,Ashton Turner,10000000,BATTER,1.0,120.0,NaN
5,Mohd. Arshad Khan,2000000,ALL-ROUNDER,0.2,24.0,MI
6,Arshin Kulkarni,2000000,ALL-ROUNDER,0.2,24.0,NaN
7,KL Rahul,Retained,NaN,0.0,0.0,NaN
8,Quinton de Kock,Retained,NaN,0.0,0.0,NaN
9,Nicholas Pooran,Retained,NaN,0.0,0.0,NaN
10,Ayush Badoni,Retained,NaN,0.0,0.0,NaN
11,Kyle Mayers,Retained,NaN,0.0,0.0,NaN
12,Marcus Stoinis,Retained,NaN,0.0,0.0,NaN
13,Deepak Hooda,Retained,NaN,0.0,0.0,NaN
14,Ravi Bishnoi,Retained,NaN,0.0,0.0,NaN
15,Naveen-ul-Haq,Retained,NaN,0.0,0.0,NaN
16,Krunal Pandya,Retained,NaN,0.0,0.0,NaN
17,Yudhvir Singh,Retained,NaN,0.0,0.0,NaN
18,Prerak Mankad,Retained,NaN,0.0,0.0,NaN
19,Yash Thakur,Retained,NaN,0.0,0.0,NaN
20,Amit Mishra,Retained,NaN,0.0,0.0,NaN
21,Mark Wood,Retained,NaN,0.0,0.0,NaN
22,Mayank Yadav,Retained,NaN,0.0,0.0,NaN
23,Mohsin Khan,Retained,NaN,0.0,0.0,NaN

In [40]:
LSG=initial[6]
LSG["Team"]="Lucknow Super Giants"
LSG.rename(columns={"2024 Squad LSG":"Player"},inplace=True)
#Appending into previous Dataframe
final=final._append(LSG,ignore_index=True)
final

,Player,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2023 Squad,Team
0,Spencer Johnson,5000000,BOWLER,10.0,1200.0,NaN,Gujarat Titans
1,Shahrukh Khan,4000000,ALL-ROUNDER,7.4,888.0,PBKS,Gujarat Titans
2,Umesh Yadav,20000000,BOWLER,5.8,696.0,KKR,Gujarat Titans
3,Robin Minz,2000000,WICKETKEEPER,3.6,432.0,NaN,Gujarat Titans
4,Sushant Mishra,2000000,BOWLER,2.2,264.0,NaN,Gujarat Titans
...,...,...,...,...,...,...,...
144,Yash Thakur,Retained,NaN,0.0,0.0,NaN,Lucknow Super Giants
145,Amit Mishra,Retained,NaN,0.0,0.0,NaN,Lucknow Super Giants
146,Mark Wood,Retained,NaN,0.0,0.0,NaN,Lucknow Super Giants
147,Mayank Yadav,Retained,NaN,0.0,0.0,NaN,Lucknow Super Giants
148,Mohsin Khan,Retained,NaN,0.0,0.0,NaN,Lucknow Super Giants

# 7.Creating Dataframe of Mumbai Indians

In [32]:
initial[7]

,2024 Squad MI,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2023 Squad
0,Hardik Pandya,Traded,NaN,NaN,NaN,NaN
1,Romario Shepherd,Traded,NaN,NaN,NaN,NaN
2,Gerald Coetzee,20000000,ALL-ROUNDER,5.0,600.0,NaN
3,Nuwan Thushara,5000000,BOWLER,4.8,576.0,NaN
4,Mohammad Nabi,15000000,ALL-ROUNDER,1.5,180.0,NaN
5,Shreyas Gopal,2000000,BOWLER,0.2,24.0,NaN
6,Naman Dhir,2000000,ALL-ROUNDER,0.2,24.0,NaN
7,Anshul Kamboj,2000000,ALL-ROUNDER,0.2,24.0,NaN
8,Shivalik Sharma,2000000,ALL-ROUNDER,0.2,24.0,NaN
9,Dilshan Madushanka,5000000,BOWLER,4.6,0.0,NaN
10,Rohit Sharma,Retained,NaN,0.0,0.0,NaN
11,Dewald Brevis,Retained,NaN,0.0,0.0,NaN
12,Suryakumar Yadav,Retained,NaN,0.0,0.0,NaN
13,Ishan Kishan,Retained,NaN,0.0,0.0,NaN
14,Tilak Varma,Retained,NaN,0.0,0.0,NaN
15,Tim David,Retained,NaN,0.0,0.0,NaN
16,Vishnu Vinod,Retained,NaN,0.0,0.0,NaN
17,Arjun Tendulkar,Retained,NaN,0.0,0.0,NaN
18,Cameron Green,Traded,NaN,0.0,0.0,NaN
19,Shams Mulani,Retained,NaN,0.0,0.0,NaN
20,Nehal Wadhera,Retained,NaN,0.0,0.0,NaN
21,Jasprit Bumrah,Retained,NaN,0.0,0.0,NaN
22,Kumar Kartikeya,Retained,NaN,0.0,0.0,NaN
23,Piyush Chawla,Retained,NaN,0.0,0.0,NaN
24,Akash Madhwal,Retained,NaN,0.0,0.0,NaN
25,Jason Behrendorff,Retained,NaN,0.0,0.0,NaN

In [41]:
MI=initial[7]
MI["Team"]="Mumbai Indians"
MI.rename(columns={"2024 Squad MI":"Player"},inplace=True)
#Appending into previous Dataframe
final=final._append(MI,ignore_index=True)
final

,Player,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2023 Squad,Team
0,Spencer Johnson,5000000,BOWLER,10.0,1200.0,NaN,Gujarat Titans
1,Shahrukh Khan,4000000,ALL-ROUNDER,7.4,888.0,PBKS,Gujarat Titans
2,Umesh Yadav,20000000,BOWLER,5.8,696.0,KKR,Gujarat Titans
3,Robin Minz,2000000,WICKETKEEPER,3.6,432.0,NaN,Gujarat Titans
4,Sushant Mishra,2000000,BOWLER,2.2,264.0,NaN,Gujarat Titans
...,...,...,...,...,...,...,...
170,Jasprit Bumrah,Retained,NaN,0.0,0.0,NaN,Mumbai Indians
171,Kumar Kartikeya,Retained,NaN,0.0,0.0,NaN,Mumbai Indians
172,Piyush Chawla,Retained,NaN,0.0,0.0,NaN,Mumbai Indians
173,Akash Madhwal,Retained,NaN,0.0,0.0,NaN,Mumbai Indians
174,Jason Behrendorff,Retained,NaN,0.0,0.0,NaN,Mumbai Indians

# 8.Creating Dataframe of Royal Challengers Bengaluru

In [42]:
initial[8]

,2024 Squad RCB,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2023 Squad
0,Mayank Dagar,Traded,NaN,NaN,NaN,NaN
1,Cameron Green,Traded,NaN,NaN,NaN,NaN
2,Alzarri Joseph,10000000,BOWLER,11.5,1380.0,GT
3,Yash Dayal,2000000,BOWLER,5.0,600.0,GT
4,Lockie Ferguson,20000000,BOWLER,2.0,240.0,KKR
5,Tom Curran,15000000,ALL-ROUNDER,1.5,180.0,NaN
6,Saurav Chuahan,2000000,BATTER,0.2,24.0,NaN
7,Swapnil Singh,2000000,ALL-ROUNDER,0.2,24.0,LSG
8,Faf du Plessis,Retained,NaN,0.0,0.0,NaN
9,Glenn Maxwell,Retained,NaN,0.0,0.0,NaN
10,Virat Kohli,Retained,NaN,0.0,0.0,NaN
11,Rajat Patidar,Retained,NaN,0.0,0.0,NaN
12,Anuj Rawat,Retained,NaN,0.0,0.0,NaN
13,Dinesh Karthik,Retained,NaN,0.0,0.0,NaN
14,Suyash Prabhudessai,Retained,NaN,0.0,0.0,NaN
15,Will Jacks,Retained,NaN,0.0,0.0,NaN
16,Mahipal Lomror,Retained,NaN,0.0,0.0,NaN
17,Karn Sharma,Retained,NaN,0.0,0.0,NaN
18,Manoj Bhandage,Retained,NaN,0.0,0.0,NaN
19,Vyshak Vijaykumar,Retained,NaN,0.0,0.0,NaN
20,Akash Deep,Retained,NaN,0.0,0.0,NaN
21,Mohammed Siraj,Retained,NaN,0.0,0.0,NaN
22,Reece Topley,Retained,NaN,0.0,0.0,NaN
23,Himanshu Sharma,Retained,NaN,0.0,0.0,NaN
24,Rajan Kumar,Retained,NaN,0.0,0.0,NaN

In [43]:
RCB=initial[8]
RCB["Team"]="Royal Challengers Bengaluru"
RCB.rename(columns={"2024 Squad RCB":"Player"},inplace=True)
#Appending into previous Dataframe
final=final._append(RCB,ignore_index=True)
final

,Player,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2023 Squad,Team
0,Spencer Johnson,5000000,BOWLER,10.0,1200.0,NaN,Gujarat Titans
1,Shahrukh Khan,4000000,ALL-ROUNDER,7.4,888.0,PBKS,Gujarat Titans
2,Umesh Yadav,20000000,BOWLER,5.8,696.0,KKR,Gujarat Titans
3,Robin Minz,2000000,WICKETKEEPER,3.6,432.0,NaN,Gujarat Titans
4,Sushant Mishra,2000000,BOWLER,2.2,264.0,NaN,Gujarat Titans
...,...,...,...,...,...,...,...
195,Akash Deep,Retained,NaN,0.0,0.0,NaN,Royal Challengers Bengaluru
196,Mohammed Siraj,Retained,NaN,0.0,0.0,NaN,Royal Challengers Bengaluru
197,Reece Topley,Retained,NaN,0.0,0.0,NaN,Royal Challengers Bengaluru
198,Himanshu Sharma,Retained,NaN,0.0,0.0,NaN,Royal Challengers Bengaluru
199,Rajan Kumar,Retained,NaN,0.0,0.0,NaN,Royal Challengers Bengaluru

# 9.Creating Dataframe of Rajasthan Royals

In [44]:
initial[9]

,2024 Squad RR,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2023 Squad
0,Avesh Khan,Traded,NaN,NaN,NaN,NaN
1,Rovman Powell,10000000,BATTER,7.4,888.0,DC
2,Shubham Dubey,2000000,BATTER,5.8,696.0,NaN
3,Nandre Burger,5000000,BOWLER,0.5,60.0,NaN
4,Tom Kohler-Cadmore,4000000,WICKETKEEPER,0.4,48.0,NaN
5,Abid Mushtaq,2000000,ALL-ROUNDER,0.2,24.0,NaN
6,Sanju Samson,Retained,NaN,0.0,0.0,NaN
7,Jos Buttler,Retained,NaN,0.0,0.0,NaN
8,Shimron Hetmyer,Retained,NaN,0.0,0.0,NaN
9,Yashasvi Jaiswal,Retained,NaN,0.0,0.0,NaN
10,Dhruv Jurel,Retained,NaN,0.0,0.0,NaN
11,Riyan Parag,Retained,NaN,0.0,0.0,NaN
12,Donovan Ferreira,Retained,NaN,0.0,0.0,NaN
13,Kunal Rathore,Retained,NaN,0.0,0.0,NaN
14,Ravichandran Ashwin,Retained,NaN,0.0,0.0,NaN
15,Kuldeep Sen,Retained,NaN,0.0,0.0,NaN
16,Navdeep Saini,Retained,NaN,0.0,0.0,NaN
17,Prasidh Krishna,Retained,NaN,0.0,0.0,NaN
18,Sandeep Sharma,Retained,NaN,0.0,0.0,NaN
19,Trent Boult,Retained,NaN,0.0,0.0,NaN
20,Yuzvendra Chahal,Retained,NaN,0.0,0.0,NaN
21,Adam Zampa,Retained,NaN,0.0,0.0,NaN

In [45]:
RR=initial[9]
RR["Team"]="Rajasthan Royals"
RR.rename(columns={"2024 Squad RR":"Player"},inplace=True)
#Appending into previous Dataframe
final=final._append(RR,ignore_index=True)
final

,Player,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2023 Squad,Team
0,Spencer Johnson,5000000,BOWLER,10.0,1200.0,NaN,Gujarat Titans
1,Shahrukh Khan,4000000,ALL-ROUNDER,7.4,888.0,PBKS,Gujarat Titans
2,Umesh Yadav,20000000,BOWLER,5.8,696.0,KKR,Gujarat Titans
3,Robin Minz,2000000,WICKETKEEPER,3.6,432.0,NaN,Gujarat Titans
4,Sushant Mishra,2000000,BOWLER,2.2,264.0,NaN,Gujarat Titans
...,...,...,...,...,...,...,...
217,Prasidh Krishna,Retained,NaN,0.0,0.0,NaN,Rajasthan Royals
218,Sandeep Sharma,Retained,NaN,0.0,0.0,NaN,Rajasthan Royals
219,Trent Boult,Retained,NaN,0.0,0.0,NaN,Rajasthan Royals
220,Yuzvendra Chahal,Retained,NaN,0.0,0.0,NaN,Rajasthan Royals
221,Adam Zampa,Retained,NaN,0.0,0.0,NaN,Rajasthan Royals

# 10.Creating Dataframe of Sunrisers Hyderabad

In [47]:
initial[10]

,2024 Squad SRH,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2023 Squad
0,Shahbaz Ahmed,Traded,NaN,NaN,NaN,NaN
1,Pat Cummins,20000000,ALL-ROUNDER,20.5,2460.0,NaN
2,Travis Head,20000000,BATTER,6.8,816.0,NaN
3,Jaydev Unadkat,5000000,BOWLER,1.6,192.0,LSG
4,Wanindu Hasaranga,15000000,ALL-ROUNDER,1.5,180.0,RCB
5,Akash Singh,2000000,BOWLER,0.2,24.0,CSK
6,Jhathavedh Subramanyan,2000000,BOWLER,0.2,24.0,NaN
7,Abdul Samad,Retained,NaN,0.0,0.0,NaN
8,Aiden Markram,Retained,NaN,0.0,0.0,NaN
9,Rahul Tripathi,Retained,NaN,0.0,0.0,NaN
10,Glenn Phillips,Retained,NaN,0.0,0.0,NaN
11,Heinrich Klaasen,Retained,NaN,0.0,0.0,NaN
12,Mayank Agarwal,Retained,NaN,0.0,0.0,NaN
13,Anmolpreet Singh,Retained,NaN,0.0,0.0,NaN
14,Upendra Singh Yadav,Retained,NaN,0.0,0.0,NaN
15,Nitish Kumar Reddy,Retained,NaN,0.0,0.0,NaN
16,Abhishek Sharma,Retained,NaN,0.0,0.0,NaN
17,Marco Jansen,Retained,NaN,0.0,0.0,NaN
18,Washington Sundar,Retained,NaN,0.0,0.0,NaN
19,Sanvir Singh,Retained,NaN,0.0,0.0,NaN
20,Bhuvneshwar Kumar,Retained,NaN,0.0,0.0,NaN
21,T Natarajan,Retained,NaN,0.0,0.0,NaN
22,Mayank Markande,Retained,NaN,0.0,0.0,NaN
23,Umran Malik,Retained,NaN,0.0,0.0,NaN
24,Fazalhaq Farooqi,Retained,NaN,0.0,0.0,NaN

In [48]:
SRH=initial[10]
SRH["Team"]="Sunrisers Hyderabad"
SRH.rename(columns={"2024 Squad SRH":"Player"},inplace=True)
#Appending into previous Dataframe
final=final._append(SRH,ignore_index=True)
final

,Player,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2023 Squad,Team
0,Spencer Johnson,5000000,BOWLER,10.0,1200.0,NaN,Gujarat Titans
1,Shahrukh Khan,4000000,ALL-ROUNDER,7.4,888.0,PBKS,Gujarat Titans
2,Umesh Yadav,20000000,BOWLER,5.8,696.0,KKR,Gujarat Titans
3,Robin Minz,2000000,WICKETKEEPER,3.6,432.0,NaN,Gujarat Titans
4,Sushant Mishra,2000000,BOWLER,2.2,264.0,NaN,Gujarat Titans
...,...,...,...,...,...,...,...
242,Bhuvneshwar Kumar,Retained,NaN,0.0,0.0,NaN,Sunrisers Hyderabad
243,T Natarajan,Retained,NaN,0.0,0.0,NaN,Sunrisers Hyderabad
244,Mayank Markande,Retained,NaN,0.0,0.0,NaN,Sunrisers Hyderabad
245,Umran Malik,Retained,NaN,0.0,0.0,NaN,Sunrisers Hyderabad
246,Fazalhaq Farooqi,Retained,NaN,0.0,0.0,NaN,Sunrisers Hyderabad

# Adding Information of Unsold players

In [51]:
initial[11]

,Players,TYPE,Base Price IN ₹,Base Price IN $,2023 Squad
0,Karun Nair,BATTER,5000000,60000,LSG
1,Steve Smith,BATTER,20000000,240000,NaN
2,Josh Inglis,WICKETKEEPER,20000000,240000,NaN
3,Kusal Mendis,WICKETKEEPER,5000000,60000,NaN
4,Philip Salt,WICKETKEEPER,15000000,180000,DC
...,...,...,...,...,...
423,Mitchell Santner,NaN,Retained,Retained,NaN
424,Simarjeet Singh,NaN,Retained,Retained,NaN
425,Nishant Sindhu,NaN,Retained,Retained,NaN
426,Prashant Solanki,NaN,Retained,Retained,NaN
427,Maheesh Theekshana,NaN,Retained,Retained,NaN

In [52]:
test=initial[11]

In [56]:
test.rename(columns={"Players":"Player"},inplace=True)

In [57]:
test.rename(columns={"Base Price IN ₹":"Base Price"},inplace=True)

In [55]:
test["Team"]="Unsold"
test["COST IN ₹ (CR.)"]="NaN"
test["Cost IN $ (000)"]="NaN"
test.drop("Base Price IN $",axis=1,inplace=True)

In [58]:
test

,Player,TYPE,Base Price,2023 Squad,Team,COST IN ₹ (CR.),Cost IN $ (000)
0,Karun Nair,BATTER,5000000,LSG,Unsold,NaN,NaN
1,Steve Smith,BATTER,20000000,NaN,Unsold,NaN,NaN
2,Josh Inglis,WICKETKEEPER,20000000,NaN,Unsold,NaN,NaN
3,Kusal Mendis,WICKETKEEPER,5000000,NaN,Unsold,NaN,NaN
4,Philip Salt,WICKETKEEPER,15000000,DC,Unsold,NaN,NaN
...,...,...,...,...,...,...,...
423,Mitchell Santner,NaN,Retained,NaN,Unsold,NaN,NaN
424,Simarjeet Singh,NaN,Retained,NaN,Unsold,NaN,NaN
425,Nishant Sindhu,NaN,Retained,NaN,Unsold,NaN,NaN
426,Prashant Solanki,NaN,Retained,NaN,Unsold,NaN,NaN
427,Maheesh Theekshana,NaN,Retained,NaN,Unsold,NaN,NaN

In [59]:
final=final._append(test,ignore_index=True)
final

,Player,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2023 Squad,Team
0,Spencer Johnson,5000000,BOWLER,10.0,1200.0,NaN,Gujarat Titans
1,Shahrukh Khan,4000000,ALL-ROUNDER,7.4,888.0,PBKS,Gujarat Titans
2,Umesh Yadav,20000000,BOWLER,5.8,696.0,KKR,Gujarat Titans
3,Robin Minz,2000000,WICKETKEEPER,3.6,432.0,NaN,Gujarat Titans
4,Sushant Mishra,2000000,BOWLER,2.2,264.0,NaN,Gujarat Titans
...,...,...,...,...,...,...,...
670,Mitchell Santner,Retained,NaN,NaN,NaN,NaN,Unsold
671,Simarjeet Singh,Retained,NaN,NaN,NaN,NaN,Unsold
672,Nishant Sindhu,Retained,NaN,NaN,NaN,NaN,Unsold
673,Prashant Solanki,Retained,NaN,NaN,NaN,NaN,Unsold
674,Maheesh Theekshana,Retained,NaN,NaN,NaN,NaN,Unsold

In [63]:
final.to_csv("IPL AUCTION 2024 DATASET.csv")