In [76]:
import pandas as pd
import os

In [77]:
years = range(2008, 2023)
files = [fr"C:\Users\Mohak kansal\Documents\Coding\Projects\IPL Auction Analytics & Team Performance Prediction Dashboard\Data Collection and Cleaning\Used Datasets\8) IPL - Player Performance Dataset\Most Dot Balls Innings\Most Dot Balls Innings - {year}.csv" for year in years]

all_dfs = []

for file in files:
    df = pd.read_csv(file)

    year = file.split(' - ')[-1].split('.')[0]
        
    df['Year'] = year

    all_dfs.append(df)

merged_df = pd.concat(all_dfs, ignore_index=True)

merged_df.head()

,POS,Player,Ov,Runs,Wkts,Maid,Dots,SR,Against,Venue,Match Date,Year
0,1,Sohail Tanvir,4.0,10,3,0.0,18,8.0,RCB,Sawai Mansingh Stadium,17 May 2008,2008
1,2,Dale Steyn,4.0,28,2,0.0,18,12.0,CSK,Chidambaram,21 May 2008,2008
2,3,Brett Lee,4.0,9,1,0.0,17,24.0,MI,IS Bindra Stadium,25 April 2008,2008
3,4,Shaun Pollock,4.0,9,1,1.0,17,24.0,CSK,Wankhede Stadium,14 May 2008,2008
4,5,Irfan Pathan,4.0,10,1,0.0,17,24.0,RR,IS Bindra Stadium,28 May 2008,2008

In [78]:
merged_df['Maid'] = merged_df['Maid'].fillna(0)

merged_df['Maid'] = merged_df['Maid'].astype(int)

In [79]:
merged_df.head()

,POS,Player,Ov,Runs,Wkts,Maid,Dots,SR,Against,Venue,Match Date,Year
0,1,Sohail Tanvir,4.0,10,3,0,18,8.0,RCB,Sawai Mansingh Stadium,17 May 2008,2008
1,2,Dale Steyn,4.0,28,2,0,18,12.0,CSK,Chidambaram,21 May 2008,2008
2,3,Brett Lee,4.0,9,1,0,17,24.0,MI,IS Bindra Stadium,25 April 2008,2008
3,4,Shaun Pollock,4.0,9,1,1,17,24.0,CSK,Wankhede Stadium,14 May 2008,2008
4,5,Irfan Pathan,4.0,10,1,0,17,24.0,RR,IS Bindra Stadium,28 May 2008,2008

In [80]:
merged_df['Match Date'] = pd.to_datetime(merged_df['Match Date'], dayfirst=True, errors='coerce')

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   POS         125 non-null    int64
 1   Player      125 non-null    object
 2   Ov          125 non-null    float64
 3   Runs        125 non-null    int64
 4   Wkts        125 non-null    int64
 5   Dots        125 non-null    int64
 6   SR          125 non-null    float64
 7   Against     125 non-null    object
 8   Venue       125 non-null    object
 9   Match Date  125 non-null    object
 10  Year        125 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 10.9+ KB

In [82]:
merged_df.isnull().sum()

POS           0
Player        0
Ov            0
Runs          0
Wkts          0
Maid          0
Dots          0
SR            0
Against       0
Venue         0
Match Date    0
Year          0
dtype: int64

In [83]:
merged_df.duplicated().sum()

np.int64(0)

In [84]:
merged_df.to_csv('merged_Most_Dot_Balls.csv', index=False)